<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Conversion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(Home)}" />
        <h1><span th:text="#{phrase.main}" class="badge badge-secondary"></span></h1>
        <h4><span th:text="#{phrase.app}" class="badge badge-secondary"></span></h4>

        <div class="alert alert-warning" role="alert"
             th:hidden="${error == null ? true : false}" th:text="${error == null ? '' : error}">
        </div>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label th:text="#{app.currencyFrom}"></label>
                    <select  name="currency_from" class="form-control">
                        <option th:with="base = #{app.choose}" th:text="${param.currency_from == null ? base : param.currency_from}"></option>
                        <option th:each="c:${currencies}"
                                th:text="${c.getCharCode()} + ' (' + ${c.getName()} + ')'"></option>
                        <option th:text="#{app.choose}"></option>
                    </select>

                </div>

                <div class="form-group col-md-6">
                    <label th:text="#{app.currencyTo}"></label>
                    <select name="currency_to" class="form-control">
                        <option th:with="base = #{app.choose}" th:text="${param.currency_to == null ? base : param.currency_to}"></option>
                        <option th:each="c:${currencies}"
                                th:text="${c.getCharCode()} + ' (' + ${c.getName()} + ')'"></option>
                        <option th:text="#{app.choose}"></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input name="count_from" type="text" class="form-control"
                           th:value="${param.count_from != null ? param.count_from: ''}">
                </div>
                <div class="form-group col-md-6">
                    <input name="count_to" type="text" class="form-control"
                           th:value="${result != null ? result : ''}">
                </div>
            </div>

            <button th:text="#{app.submit}" type="submit" class="btn btn-primary"
                    th:hidden="${errorUrl != null ? true : false}"></button>
        </form>
    </div>
</body>
</html>