<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/app'}" th:text="#{nav.home}"></a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/'}" th:text="#{nav.home}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'History' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/history'}" th:text="#{nav.history}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'Statistik' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/statistic'}" th:text="#{nav.statistic}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'Profile' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/profile'}" th:text="#{nav.profile}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" th:classappend="${activeTab == 'Admin' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/admin/'}" th:text="#{nav.admin}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" th:classappend="${activeTab == 'NewUser' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/addUser/'}" th:text="#{nav.addNewUserAdmin}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button id="navLogout" class="btn btn-outline-secondary" type="submit"  th:text="#{nav.logout}"></button>
                    </form>
                </li>

                <div class="dropdown" style="margin-left: 10px;">
                    <button th:action="@{'/app'}" class="btn btn-outline-settcondary dropdown-toggle" th:text="#{nav.lang}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{'/?lang=ru'}" th:text="#{nav.lang.ru}"></a>
                        <a class="dropdown-item" th:href="@{'/?lang=en'}" th:text="#{nav.lang.en}">ENG</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" role="alert"
         th:hidden="${errorUrl == null ? true : false}" th:text="${errorUrl == null ? '' : errorUrl}">
    </div>
</div>